DOMEN=https://localhost:3000
NUXT_SESSION_PASSWORD=
DATABASE_URL="postgresql://login:password@host:5432/dbName?schema=public"

NUXT_NODEMAILER_FROM="mailAddress"
NUXT_NODEMAILER_HOST=smtp.mail.ru
NUXT_NODEMAILER_PORT=465
NUXT_NODEMAILER_SECURE=true
NUXT_NODEMAILER_AUTH_USER=login
NUXT_NODEMAILER_AUTH_PASS=password
TOKEN_SECRET="secret"
